<div class="create ">
  <h4 class="modal-title">Add Expense</h4>
  <form [formGroup]="service.form" (ngSubmit)="Add()" >
    <div>
         <mat-form-field> 
             <input formControlName="merchant" matInput placeholder="Merchant*">
             <mat-error>This field is mandatory.</mat-error>
           </mat-form-field>
    </div>
   <div>
       <mat-form-field>
           <input formControlName="total" matInput placeholder="Total">
           <mat-error>Invalid email address.</mat-error>
         </mat-form-field>
   </div>
   <div>
       <mat-form-field>
           <input formControlName="status" matInput placeholder="status">
           <mat-error>Invalid email address.</mat-error>
         </mat-form-field>
   </div>
   <div>
       <mat-form-field>
           <input type="date" formControlName="date" matInput placeholder="date">
           <mat-error>Invalid email address.</mat-error>
         </mat-form-field>
   </div>
   
   <div>
       <mat-form-field>
           <input formControlName="comment" matInput placeholder="comment">
           <mat-error>Invalid email address.</mat-error>
         </mat-form-field>
   </div>
   
  <button mat-raised-button class="button1" color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
 <button mat-raised-button class="button2" color="warn" (click)="onClear()">Clear</button>
 <button class="btn btn-danger button3" (click) ="onClose()">Close</button>
   </form>
  
</div>
